:root {
  background-color: rgb(230, 227, 227);
  }


  .headerContainer {
    padding-bottom: -10px;
    background-color: rgb(230, 227, 227);
  }

  .mainHeaderRow {
    margin-left: 11% !important;
    width: 80%;
    align-items: center;
    justify-content: center !important;
    /* margin-top: 50px !important; */
    display: flex;
    gap: 1rem;
    text-align: center !important;
    padding-bottom: 50px;
}

.modelCommentsHeader h2 {
  margin-left: 44%;
  padding-top: 5%;
  font-family: "Birthstone", cursive;
  font-size: 55px;
  font-weight: bold;
  color: rgb(188, 67, 19) !important; 
}

.headerContent {
text-align: center;
background-color: rgb(230, 227, 227);
padding-bottom: 10px;
}

.headerContent h3 {
  color: grey;
  font-size: 35px !important;
}

.headerContent h2 {
  font-family: "Birthstone", cursive;
  font-size: 75px;
  font-weight: bold;
  color: rgb(188, 67, 19) !important; 
}

/* IMAGE CONTAINER HEADER AND TOP MARGIN */

.imageContainer {
  padding-top: 10px;
  background-color: rgb(230, 227, 227);
}

#imageRow1 {
  background-color: rgb(230, 227, 227);
  justify-content: center;
  text-align: center;
  padding-bottom: 20px;
  width: 100%;
  padding-top: 60px !important;
  display: flex !important;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 0;
  padding: 0;
  text-align: center;
}

.imageMainRow {
  width: 100%;
  justify-content: center;
}


#imageRow1 {
  justify-content: center;
}

.imageResize {
  border-style: solid;
  background-color: white;
  border-color: grey;
  padding: 18px;   
}

.imageResize:hover {
  transform: scale(1.75);
  border: none;
  margin-right: 30%;
  margin-left: 30%;
}

.img8-5x11Row {
text-align: center;
padding-top: 30px;
}

.imageTitle {
  color: grey;
  font-size: 30px !important;
}

/* ROW CELL MARGINS - LEFT AND RIGHT */


  /* IMAGE SIZING */
  .img11x8-5 {
    margin-top: 50px;
        width: 400px;
        height: 308px;
      }
    
      .img8-5x11 {
        width: 308px;
        height: 400px;
        margin-top: 3px;
      }
    
      .img11x6-3 {
        width: 400px;
        height: 228px;
        margin-top: 90px;
      }
    
.img11x11 {
  width: 400px;
  height: 400px;
  margin-top: 4px;
}

.footerWrapper {
  background-color: rgb(230, 227, 227);
}

.footerContainer {
  background-color: rgb(230, 227, 227);
  justify-content: center;
  width: 80%;
  font-size: 20px;
  margin-left: 12.25%;
  padding-top: 35px;
}

.footerRow {
  justify-content: center;
  
}

.footerContainer a {
    color: rgb(188, 67, 19) !important;
}