:root {
    background-color: rgb(230, 227, 227);
    }
  
    .headerContainer {
      background-color: rgb(230, 227, 227);
    }

    .sigMarg {
        margin-right: -50px;
    }

    .JMsignature {
        /* margin-right: 140px; */
        transform: scale(.9);
    }

    .navItems a {
        font-size: 30px !important;
    }

.homeMainImageContainer {
    background-color: rgb(230, 227, 227);
    padding-top: 50px;
    justify-content: center;
    align-items: center; 
    text-align: center;
}

.mainHeaderRow {
    width: 100%;
    justify-content: center;

}

.homeCover {
    background-color: rgb(230, 227, 227);
    width: 100%;
    text-align: center;
    justify-content: center;
    text-align: top;
}

.coverCol {
    background-color: rgb(230, 227, 227);
}

.coverCol img{
    background-color: rgb(230, 227, 227);
    text-align: top;
    justify-content: center;
    text-align: center;
    margin-top: -140px !important;
}

.homeMainImage {
    scale: 80%;
    margin-top: -80px;
}

.DividerLine {
    background-color: rgb(230, 227, 227);
    width: 100%;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.dividingLine {
    background-color: rgb(230, 227, 227);
    background-color: black;
    height: 2px;
    width:80%;
}

.dividingLineSmall {
    background-color: black;
    height: 2px;
    padding-top: -10px;
}

.aboutJMContainer {
    background-color: rgb(230, 227, 227);
    text-align: center;
    
}

.aboutJMFirstRow {
    background-color: rgb(230, 227, 227);
    justify-content: center;
    margin-bottom: 20px;
    width: 100%;
   padding-top: 60px !important;
    display: flex !important;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 0;
    padding: 0;
    text-align: left;
  }

.aboutJMCol {
  text-align: right;
}

.aboutJMCol h4 {
    padding-right: 16%;
}

.aboutJMDesc {
    margin-right: 12%;
    width: 40%;
}

.aboutJMDesc p {
    
    font-size: 18px;
}

.disclaimer {
    margin-top: 0px !important;
    float: right;
    margin-top: 150px;
    font-size: 15px;
}


.jmStamp {
    transform: scale(.7) !important;
    margin-top: -40px;
    /* float: right; */
    margin-left: 70%;
  }

.aboutJMDesc h2 {
    text-align: center;
    font-family: Georgia;
    margin-top: -4px;
}

.projectList {
    background-color: rgb(230, 227, 227);
    justify-content: center;
    align-items: center;
    align-content: center;
    padding-top: 10px;
}

#recentProjects {
    text-align: center;
  
}

.recentProjectsList {
    list-style: none;
}

#RProjects {
    font-weight: bold;
    font-size: 44px !important;
    font-family: 'Poiret One', cursive;
    color: rgb(188, 67, 19) !important;
}

#member {
    font-family: 'Poiret One', cursive;
    font-size: 27px;
text-decoration: none !important;
color: black;
}

.projectList #Ex2019 {
    text-decoration: underline !important;
    font-family: 'Poiret One', cursive;
    font-size: 27px;
text-decoration: none !important;
color: black;
}



 #Ex2019:hover {
   text-decoration: underline rgb(188, 67, 19) !important;
}


.projectList li #Ex2019 {
    text-decoration: underline !important;
    font-size: 25px;
    font-weight: 400;
}

  .footerWrapper {
    background-color: rgb(230, 227, 227);
  }
  
  .footerContainer {
    flex-wrap: flex;
    background-color: rgb(230, 227, 227);
    text-align: center !important;
      font-size: 20px;
      padding-top: 35px;
  }
  
  .footerRow {
      justify-content: center;
  }
   
    .footerContainer a {
        color: rgb(188, 67, 19) !important;
    }  

    .created {
        background-color: rgb(230, 227, 227);
    }

  .createdBy p{
    padding-top: -20px;
    text-align: center;
    color: grey;
  }


/* DYNAMIC DESIGN */

/* @media (max-width: 2100px) {
    
    #aboutJMDesc {
        padding-left: 120px !important;
    }

    #aboutJMDesc p {
        margin-right: 200px !important;
    }

    #secondSectionAboutJM {
        width: 90% !important;
    }

    .secondDescCol  {
        padding-right: 140px !important;
        margin-left: 30px !important;
        width: 80%;
    }

    .recentProjectsList {
        list-style-type: none;
        margin-left: 2%;
    }

    #footerRow {
        margin-left: -24% !important;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 2000px) {
    
    #aboutJMDesc {
        padding-left: 120px !important;
    }

    #aboutJMDesc p {
        margin-right: 120px !important;
    }

    #secondSectionAboutJM {
        width: 90% !important;
    }

    .secondDescCol  {
        padding-right: 70px !important;
        margin-left: 30px !important;
        width: 80%;
    }
}


@media (max-width: 1900px) {
    
    #aboutJMDesc {
        padding-left: 180px !important;
        padding-right: 100px !important;
    }

    .dividingLineSmall {
        margin-right: -2%;
    }

    #aboutJMDesc p{
        
        margin-right: -1% !important;
    }

    .JMImage {
        margin-left: 25px;
        }

        .secondDescCol  {
            padding-right: 60px !important;
            margin-left: 50px !important;
            width: 80%;
        }

        .recentProjectsList {
            list-style-type: none;
            margin-left: 8%;
        }
}


@media (max-width: 1750px) {
    
    #aboutJMDesc {
        padding-left: 230px !important;
        margin-right: -300px !important;
    }

    .dividingLineSmall {
        margin-right: -18% !important;
    }

    #aboutJMDesc p {
        margin-right: -120px !important;
    }

    .JMImage {
        margin-left: 25px;
        }

        .secondDescCol  {
            padding-right: 1px !important;
            margin-left: 70px !important;
            width: 80%;
        }

        .recentProjectsList {
            list-style-type: none;
            margin-left: 13%;
        }
}


@media (max-width: 1720px) {

    .homeMainImage {
        margin-top: -160px !important;
    }

    .aboutJM p {
    font-family: Georgia;
    font-size: 23px;
    margin-top: 30px;
    margin-left: 70px;
}

.dividingLine {
    background-color: black;
    height: 2px;
    width: 73% !important;
    margin-left: 20%;
    margin-top: -180px;
}

#aboutJMDesc {
    padding-left: 220px !important;
}

.col-7 p {
    margin-right: 20%;
    font-size: 20px;
}

#secondSectionAboutJM {
    font-size: 20px;
    margin-left: 17%;
    margin-right: 10%;
}

.secondDescCol  {
    padding-right: -260px !important;
    margin-left: 70px !important;
    width: 80%;
}

.secondDescCol p {
    margin-right: -140px !important;
}

#footerRow {
    margin-left: -15% !important;
}

}

@media (max-width: 1690px) {
    .dividingLine {
        background-color: black;
        height: 2px;
        width: 74% !important;
        margin-left: 20%;
        margin-top: -180px;
    }

    .recentProjectsList {
        list-style-type: none;
        margin-left: 12%;
    }
}

@media (max-width: 1630px) {

    #aboutJMDesc {
        padding-left: 245px !important;
    }

    #aboutJMDesc p {
        margin-right: -24% !important;
    }

    #footerRow {
        margin-left: -18% !important;
    }
}

@media (max-width: 1600px) {

    .dividingLine {
        background-color: black;
        height: 2px;
        width: 76% !important;
        margin-left: 22%;
        margin-top: -180px;
    }

    #aboutJMDesc {
        padding-left: 270px !important;
    }

    #aboutJMDesc p {
       margin-right: -20% !important;
      
    }

    #aboutJMDesc p {
        margin-right: -55% !important;
        font-size: 20px;
    }

    .dividingLineSmall {
        background-color: black;
        height: 2px;
        margin-right: -50% !important;
        margin-top: -10px;
    }

    #secondSectionAboutJM {
        font-size: 20px;
        margin-left: 17%;
        margin-right: -1%;
    }

    .secondDescCol  {
        margin-left: 140px !important;
        width: 80%;
    }
    
    .secondDescCol p {
        margin-right: -210px !important;
    }

    .recentProjectsList {
        list-style-type: none;
        margin-left: 15%;
    }
}

@media (max-width: 1550px) {
    .dividingLine {
        background-color: black;
        height: 2px;
        width: 80% !important;
        margin-left: 22%;
        margin-top: -180px;
    }
}

@media (max-width: 1500px) {
    .dividingLine {
        background-color: black;
        height: 2px;
        width: 83% !important;
        margin-left: 23%;
        margin-top: -180px;
    }

    #aboutJMDesc {
        padding-left: 295px !important;
    }

    .dividingLineSmall {
        margin-right: -78% !important;
    }

    #aboutJMDesc p {
        margin-right: -40% !important;
    }

    #aboutJMDesc p {
        margin-right: -85% !important;
        font-size: 20px;
    }

    .dividingLineSmall {
        background-color: black;
        height: 2px;
        margin-right: -12%;
        margin-top: -10px;
    }

    .recentProjectsList {
        list-style-type: none;
        margin-left: 10%;
    }

    .secondDescCol  {
        margin-left: 170px !important;
        width: 80%;
    }
    
    .secondDescCol p {
        margin-right: -210px !important;
    }

    .recentProjectsList {
        list-style-type: none;
        margin-left: 18%;
    }

    #footerRow {
        margin-left: 20% !important;
    }
}

@media (max-width: 1450px) {
    .dividingLine {
        background-color: black;
        height: 2px;
        width: 85% !important;
        margin-left: 24%;
        margin-top: -180px;
    }

    #aboutJMDesc {
        padding-left: 305px !important;
    }

    .dividingLineSmall {
        margin-right: -110% !important;
    }

    #aboutJMDesc p {
        margin-right: -114% !important;
        font-size: 20px;
    }

    #secondSectionAboutJM {
        font-size: 20px;
        margin-left: 17%;
        margin-right: -8%;
    }

    .secondDescCol  {
        margin-left: 170px !important;
        width: 80%;
    }
    
    .secondDescCol p {
        margin-right: -270px !important;
    }
}

@media (max-width: 1400px) {
    .dividingLine {
        background-color: black;
        height: 2px;
        width: 88% !important;
        margin-left: 25%;
        margin-top: -180px;
    }

    #aboutJMDesc {
        padding-left: 330px !important;
    }

    #aboutJMDesc h2 {
        margin-right: -200px;
    }

    #aboutJMDesc p {
        margin-right: -149% !important;
        font-size: 20px;
    }

    .dividingLineSmall {
        background-color: black;
        height: 2px;
        margin-right: -30%;
        margin-top: -20px;
    }

    #secondSectionAboutJM {
        font-size: 20px;
        margin-left: 21%;
       
    }

    .recentProjectsList {
        list-style-type: none;
        margin-left: 15%;
    }


    .secondDescCol  {
        margin-left: 120px !important;
        width: 80%;
    }
    
    .secondDescCol p {
        margin-right: -280px !important;
    }

    .recentProjectsList {
        list-style-type: none;
        margin-left: 23%;
}

@media (max-width: 1350px) {
    .dividingLine {
        background-color: black;
        height: 2px;
        width: 91% !important;
        margin-left: 26%;
        margin-top: -180px;
    }

    #aboutJMDesc {
        padding-left: 360px !important;
    }

    .dividingLineSmall {
        margin-right: -205% !important;
    }

    #aboutJMDesc p {
        margin-right: -210% !important;
        font-size: 20px;
    }

    .secondDescCol  {
        margin-left: 120px !important;
        width: 80%;
    }
    
    .secondDescCol p {
        margin-right: -340px !important;
    }

    #footerRow {
        margin-left: 10% !important;
    }
}

@media (max-width: 1300px) {

    .homeMainImage {
        margin-top: -160px !important;
    }

  .dividingLine {
        background-color: black;
        height: 2px;
        width: 94% !important;
        margin-left: 27%;
        margin-top: -180px;
    }

    .JMImage {

        margin-right: 100px;
        padding-left: 262px;
        margin-top: -10px;
        margin-bottom: 65px;
    }

    #aboutJMDesc {
        padding-left: 400px !important;
    }

    #aboutJMDesc p {
        margin-right: -302% !important;
        font-size: 20px;
    }

    #secondSectionAboutJM {
        font-size: 20px;
        margin-left: 26%;
        margin-right: -20%;
    }

    .recentProjectsList {
        list-style-type: none;
        margin-left: 23%;
    }

    .secondDescCol  {
        margin-left: 120px !important;
        width: 80%;
    }
    
    .secondDescCol p {
        margin-right: -310px !important;
    }

    .recentProjectsList {
        list-style-type: none;
        margin-left: 30%;
}
}

@media (max-width: 1250px) {

  .dividingLine {
        background-color: black;
        height: 2px;
        width: 99% !important;
        margin-left: 27%;
        margin-top: -180px;
    }


    #aboutJMDesc {
        padding-left: 430px !important;
    }

    #aboutJMDesc h2 {
        margin-right: -270px;
    }

    #aboutJMDesc p {
        margin-right: -550px !important;
        font-size: 20px;
    }

    .dividingLineSmall {
        background-color: black;
        height: 2px;
        margin-right: -501% !important;
        margin-top: -20px;
    }

    #footerRow {
        margin-left: 31% !important;
    }
}

@media (max-width: 1200px) {

    .dividingLine {
          background-color: black;
          height: 2px;
          width: 104% !important;
          margin-left: 28%;
          margin-top: -180px;
      }

      #aboutJMDesc {
        padding-left: 450px !important;
    }

    .dividingLineSmall {
        margin-right: -905% !important;
    }

    #aboutJMDesc p {
        margin-right: -510px !important;
        font-size: 20px;
    }

    #secondSectionAboutJM {
        font-size: 20px;
        margin-left: 27%;
        margin-right: -34%;
    }

    .recentProjectsList {
        list-style-type: none;
        margin-left: 29%;
    }

    .recentProjectsList {
        list-style-type: none;
        margin-left: 35%;
}
  }

  @media (max-width: 1150px) {

    .dividingLine {
          background-color: black;
          height: 2px;
          width: 108% !important;
          margin-left: 29%;
          margin-top: -180px;
      }

      .aboutJM h2 {
        float: right;
        margin-right: 330px;
        font-family: Georgia;
        margin-top: -570px;
    }

    #aboutJMDesc {
        padding-left: 470px !important;
    }

    #aboutJMDesc h2 {
        margin-right: -320px;
    }

    .dividingLineSmall {
        margin-right: -560px !important;
    }

    #aboutJMDesc p {
        margin-right: -600px !important;
        font-size: 20px;
    }

    .secondDescCol p {
        margin-right: -380px !important;
    }

    .col-7 h2 {
        margin-top: 10px;
        width: 130%;
    }

    .dividingLineSmall {
        background-color: black;
        height: 2px;
        margin-right: -131%;
        margin-top: -20px;
    }

    #footerRow {
        margin-left: 42% !important;
    }
  }

  @media (max-width: 1100px) {

    .dividingLine {
          background-color: black;
          height: 2px;
          width: 114% !important;
          margin-left: 30%;
          margin-top: -180px;
      }

      #aboutJMDesc {
        padding-left: 470px !important;
    }

    #aboutJMDesc p {
        margin-right: -600px !important;
        font-size: 20px;
    }

    .col-7 h2 {
        margin-top: 10px;
        width: 150%;
    }
    .dividingLineSmall {
        background-color: black;
        height: 2px;
        margin-right: -200%;
        margin-top: -20px;
    }

    #secondSectionAboutJM {
        font-size: 20px;
        margin-left: 30%;
        margin-right: -44%;
    }

    #recentProjects {
        margin-right: -80px !important;
    }

    .recentProjectsList {
        list-style-type: none;
        margin-left: 367;
    }
  }

  @media (max-width: 1050px) {

    .dividingLine {
          background-color: black;
          height: 2px;
          width: 119% !important;
          margin-left: 32%;
          margin-top: -180px;
      }

      #aboutJMDesc {
        padding-left: 480px !important;
    }

    #aboutJMDesc p {
        margin-right: -600px !important;
        font-size: 20px;
    }

    .col-7 h2 {
        margin-top: 10px;
        width: 170%;
    }

    .dividingLineSmall {
        background-color: black;
        height: 2px;
        margin-right: -250%;
        margin-top: -20px;
    }

    #footerRow {
        margin-right: -25% !important;
    }
  }

  @media (max-width: 1000px) {

    .dividingLine {8
          background-color: black;
          height: 2px;
          width: 124% !important;
          margin-left: 34%;
          margin-top: -180px;
      }

      #aboutJMDesc {
        padding-left: 500px !important;
    }

    #aboutJMDesc p {
        margin-right: -680px !important;
        font-size: 20px;
    }

    .secondDescCol p {
        margin-right: -520px !important;
    }

    .dividingLineSmall {
        background-color: black;
        height: 2px;
        margin-right: -650px !important;
        margin-top: -20px;
    }

    #secondSectionAboutJM {
        font-size: 20px;
        margin-left: 30%;
        margin-right: -54%;
    }

    .recentProjectsList {
        list-style-type: none;
        margin-left: 44%;
    }
  }

@media (min-width: 992px) {

}



 */
