:root {
  background-color: rgb(230, 227, 227);
  }


  .headerContainer {
    background-color: rgb(230, 227, 227);
  }

  .mainHeaderRow {
    margin-left: 7% !important;
    width: 80%;
    align-items: center;
    justify-content: center !important;
    /* margin-top: 50px !important; */
    display: flex;
    gap: 1rem;
    text-align: center !important;
    padding-bottom: 50px;
}

.navList {
    list-style: none;
    flex-wrap: wrap;
    display: flex;
    gap: 2rem;
}

.headerContent {
text-align: center;
background-color: rgb(230, 227, 227);
padding-bottom: 10px;
}

.headerContent h2 {
  font-family: 'Poiret One' !important;
  font-size: 75px;
  /* font-weight: 100; */
  color: rgb(188, 67, 19) !important; 
}

/* IMAGE CONTAINER HEADER AND TOP MARGIN */

.imageContainer {
  padding-top: 10px !important;
  background-color: rgb(230, 227, 227);
}

#imageRow1 {
  justify-content: center;
  text-align: center;
  margin-bottom: 20px;
  width: 100%;
  margin-top: 30px !important;
  display: flex !important;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 0;
  padding: 0;
  text-align: center;
}

.imageContainer h1 {
  justify-content: center;
  text-align: center;
}

#imageRow1 {
  justify-content: center;
  
}

#imageRow2 {
  justify-content: center;
  margin-top:100px !important;
}

.imageResize {
  border-style: solid;
  border-color: grey;
  background-color: white;
  padding: 18px;
}

.imageResize:hover {
  transform: scale(1.75);
  border: none;
  margin-right: 30%;
  margin-left: 30%;
}

.img8-5x11Row {
text-align: center;
margin-top: 10px;
}

/* ROW CELL MARGINS - LEFT AND RIGHT */

  /* IMAGE SIZING */
  .img11x8-5 {
    margin-top: 50px;
        width: 400px;
        height: 308px;
      }
    
      .img8-5x11 {
        width: 308px;
        height: 400px;
        margin-top: 3px;
      }
    
      .img11x6-3 {
        width: 400px;
        height: 228px;
        margin-top: 35px;
        margin-bottom: 35px;
      }
    
.img11x11 {
  width: 400px;
  height: 400px;
  margin-top: 4px;
}

.projectStatementWrapper {
  background-color: rgb(230, 227, 227);
}

.projectStatement {
  margin-left: 15% !important;
  margin-right: 15% !important;
  padding-top: 65px !important;
  background-color: rgb(230, 227, 227);
}

.projectStatement h2 {
  text-align: center;
  font-family: 'Poiret One', cursive;
  font-weight: bold;
  font-size: 45px !important;
}

.projectStatement h3 {
  text-align: center;
}

.projectStatement p {
  margin-top: 10px !important;
}

.galleriesBtn {
  padding-top: 40px;
  background-color: rgb(230, 227, 227);
  font-family: 'Poiret One' !important;
  text-align: center;
  text-decoration: none !important;
  text-decoration-style: none !important;
  font-size: 35px;
  color: rgb(188, 67, 19) !important;

}

.galleriesBtn a {
  text-decoration: none !important;
  text-decoration-style: none !important;
  font-size: 40px;
  color: black;
  font-weight: 100;
}

.galleriesBtn a:hover  {
  color: rgb(188, 67, 19) !important;
}

.footerWrapper {
  background-color: rgb(230, 227, 227);
}

.footerContainer {
  background-color: rgb(230, 227, 227);
  justify-content: center;
  width: 80%;
  font-size: 20px;
  margin-left: 12.25%;
  padding-top: 35px;
}

.footerRow {
  justify-content: center;
  
}

.footerContainer a {
    color: rgb(188, 67, 19) !important;
}