
  .mainHeaderRow {
    margin-left: 7% !important;
    width: 80%;
    align-items: center;
    justify-content: center !important;
    margin-top: 50px !important;
    display: flex;
    gap: 1rem;
    text-align: center !important;
    margin-bottom: 50px;
}

.navList {
  font-family: 'Poiret One' !important;
    list-style: none;
    flex-wrap: wrap;
    display: flex;
    gap: 2rem;
}

#headerNamePhotoId {
    margin-top: -115px;
}

  #headerNamePhotoId {
    margin-top: -118px;
  }

  .headerContent {
  text-align: center;
  margin-top: 10px;
  }

  .headerContent h2 {
    font-family: 'Poiret One' !important;
    font-size: 75px;
    font-weight: bold;
    color: rgb(188, 67, 19) !important; 
  }

/* IMAGE CONTAINER HEADER AND TOP MARGIN */

.imageGridWrapper {
  flex-wrap: wrap;
}

  .imageContainer {
    margin-top: -50px;
    flex-wrap: wrap;
  }

  #imageRow1 {
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
    margin-top: 60px !important;
    display: flex !important;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 0;
    padding: 0;
  }

  .imageContainer h1 {
    justify-content: center;
    text-align: center;
  }


  #imageRow1 {
    justify-content: center;
    align-items: center;
    
  }


  .col-md-4 {
text-align: center;
justify-content: center;
align-items: center;
  }

      .col-md-4 a:hover {
        text-decoration: underline rgb(188, 67, 19) !important; 
      }

      .col-md-4 h5:hover {
        text-decoration: rgb(188, 67, 19) !important; 
      }

.imageResize {
    border-style: solid;
    border-color: grey;
    padding: 18px;
}

.imageResize:hover {
    transform: scale(1.75);
    border: none;
    margin-right: 30%;
    margin-left: 30%;
}

.img8-5x11Row {
  text-align: center;
  margin-top: 30px;
}

/* ROW CELL MARGINS - LEFT AND RIGHT */


    /* IMAGE SIZING */
    .img11x8-5 {
      margin-top: 50px;
          width: 400px;
          height: 308px;
        }
      
        .img8-5x11 {
          width: 308px;
          height: 400px;
          margin-top: 3px;
        }
      
        .img11x6-3 {
          width: 400px;
          height: 228px;
          margin-top: 90px;
        }
      
.img11x11 {
    width: 400px;
    height: 400px;
    margin-top: 4px;
  }

  .projectStatement {
    margin-left: 15% !important;
    margin-right: 15% !important;
    text-align: center;
    margin-top: 65px !important;
  }

  .projectStatement h2 {
    font-family: 'Poiret One' !important;
    font-weight: bold;
    font-size: 45px !important;
  }

  .projectStatement p {
    margin-top: 10px !important;
  }

.footerContainer {
    justify-content: center;
    width: 80%;
    font-size: 20px;
    margin-left: 12.25%;
    margin-top: 35px;
}

.footerRow {
    justify-content: center;
    
}
 
  .footerContainer a {
      color: rgb(188, 67, 19) !important;
  }