

.mainHeaderRow {
    margin-left: 5% !important;
    width: 80%;
    align-items: center;
    justify-content: center !important;
    margin-top: 50px !important;
    display: flex;
    gap: 1rem;
    text-align: center !important;
    margin-bottom: 50px;
}

.headerContent {
    width: 70%;
  text-align: center;
  margin-left: 17%;
}

.headerContent h4 {
    margin-top: 20px;
    color: gray;
}

.headerContent p {
    font-size: 23px;
}

.headerContent hr {
    width: 90%;
    margin-left: 5%;
}

#headerNamePhotoId {
    margin-top: -95px;
}

.experienceContent p{
text-indent: 20px;
font-size: 22px;
margin-left: 20%;
margin-right: 15%;
}

.experienceContent p a {
    color: rgb(188, 67, 19) !important;
    text-decoration: none;
}

.backToContact a {
   
    font-family: "Birthstone", cursive;
    font-size: 50px;
    color: rgb(188, 67, 19) !important;
}

.backToContact {
    text-align: center;
}