:root {
    background-color: rgb(230, 227, 227);
    }
  
  
    .headerContainer {
      background-color: rgb(230, 227, 227);
    }

.mainHeaderRow {
    margin-left: 6% !important;
    width: 80%;
    align-items: center;
    justify-content: center !important;
    margin-top: 50px !important;
    display: flex;
    gap: 1rem;
    text-align: center !important;
    padding-bottom: 50px;
}


.headerContent {
    background-color: rgb(230, 227, 227);
  text-align: center;
  padding-bottom: 10px;
}

.headerContent h4 {
    margin-top: 20px;
    color: gray;
}

.headerContent p {
    font-size: 23px;
}

.headerContent hr {
    width: 90%;
    margin-left: 5%;
}

#headerNamePhotoId {
    margin-top: -95px;
}

.notesContent {
    background-color: rgb(230, 227, 227); 
padding-bottom: 10px;
}
.notesContent li{
    margin-right: 18%;
 margin-left: 21%;
 font-size: 22px;
 font-weight: 600;
}


.notesContent p{
    margin-right: 14%;
 margin-left: 15%;
 font-size: 22px;
 text-align: center;
}

.backToContact a {
   
    font-family: "Birthstone", cursive;
    font-size: 50px;
    color: rgb(188, 67, 19) !important;
}

.backToContact {
    text-align: center;
    background-color: rgb(230, 227, 227);
}
.footerWrapper {
    background-color: rgb(230, 227, 227);
  }
    
    .footerContainer {
      justify-content: center;
      width: 80%;
      font-size: 20px;
      margin-left: 12.25%;
      padding-top: 35px;
    }
    
    .footerRow {
      justify-content: center;
      
    }
    
    .footerContainer a {
        color: rgb(188, 67, 19) !important;
    }