

.headerContent {
    width: 70%;
    margin-top: 150px;
  text-align: center;
  margin-left: 17%;
}

.headerContent h4 {
    margin-top: 20px;
}

.headerContent p {
    font-size: 23px;
}

.headerContent hr {
    width: 90%;
    margin-left: 5%;
}

.experienceContent p{
text-indent: 20px;
font-size: 22px;
margin-left: 20%;
margin-right: 15%;
}

.backToContact a {
   
    font-family: "Birthstone", cursive;
    font-size: 50px;
    color: rgb(188, 67, 19) !important;
}

.backToContact {
    text-align: center;
}