
.mainWrap{
    text-align: center;
    background-color: rgb(230, 227, 227);
}

.headerSig {
    background-color: rgb(230, 227, 227);
    scale: 25%;
    position: relative;
}

.photoFy {
    position: absolute;
    margin-left: 49.8%;
    margin-top: -425px;
    font-family: 'Poiret One';
    font-weight: 800;
}