
.headerContainer {
    width: 100%;
    justify-content: center;
}
.mainHeaderRow {
    margin-left: 15%;
    width: 80%;
    align-items: center;
    justify-content: center !important;
    margin-top: 50px !important;
    display: flex;
    gap: 1rem;
    text-align: center !important;
    margin-bottom: 50px;
}

.navList {
    font-family: 'Poiret One' !important;
    list-style: none;
    flex-wrap: wrap;
    display: flex;
    gap: 2rem;
    
}
.sigMarg {
    height: 200px !important;
    align-items: center !important;
    text-align: right;
}

.JMsignature {
    scale: 100%;
}

#nameCol {
   height: 240px !important;
    font-weight: 800;
}

.navCol {
    text-align: center;
}

.headerContainer a {
    text-decoration: none !important;
    text-decoration-style: none !important;
    font-family: 'Poiret One' !important;
    font-size: 35px !important;
    color: black !important;
    justify-content: center;
    align-items: center;
}

.navItems a:hover {
    color: rgb(188, 67, 19) !important;
    transform: scale(1.25) !important;
}


/* DYNAMIC DESIGN */


