
  .mainHeaderRow {
    margin-left: 10% !important;
    width: 80%;
    align-items: center;
    justify-content: center !important;
    margin-top: 50px !important;
    display: flex;
    gap: 1rem;
    text-align: center !important;
    margin-bottom: 50px;
}

.navList {
    list-style: none;
    flex-wrap: wrap;
    display: flex;
    gap: 2rem;
    
}

#headerNamePhotoId {
    margin-top: -115px;
  }
  
  #headerNamePhotoId {
    margin-top: -118px;
  }
  
  .headerContent {
  text-align: center;
  margin-top: 15px;
  }
  
  .headerContent h2 {
    font-family: 'Poiret One' !important;
    font-size: 75px;
    font-weight: 100;
    color: rgb(188, 67, 19) !important; 
  }
  
  /* IMAGE CONTAINER HEADER AND TOP MARGIN */
  
  #imageRow1 {
    justify-content: center;
    margin-bottom: 20px;
    width: 100%;
    margin-top: 60px !important;
    display: flex !important;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 0;
    padding: 0;
  }
  
  .imageContainer h1 {
    justify-content: center;
    text-align: center;
  }
  
  /* EXAMPLE STYLE */
  /* TODO: DELETE ONCE RESOLVED */
  
  .ncTitle {
    margin-bottom: 40px;
  }

  
  /* TODO */
  
  
      .col-md-4 a:hover {
        text-decoration: underline rgb(188, 67, 19) !important; 
      }
  
      .col-md-4 h5:hover {
        text-decoration: rgb(188, 67, 19) !important; 
      }
  
  .imageResize {
    border-style: solid;
    border-color: grey;
    padding: 18px;
  }
  
  .imageResize:hover {
    transform: scale(1.75);
    border: none;
    margin-right: 30%;
    margin-left: 30%;
  }
  
  .img8-5x11Row {
  text-align: center;
  margin-top: 30px;
  }
  
  .img11x8-5Row {
  text-align: center;
  }
  
  /* ROW CELL MARGINS - LEFT AND RIGHT */
  /* 
  .imgColCell11x8-5 {
  margin-left: -95px !important;
  margin-right: -95px !important;
  }
  
  .imgColCell11x8-5Two{
  margin-left: -91px !important;
  margin-right: -91px !important;
  }
  
  .imgColCell8-5x11 {
  margin-left: -70px !important;
  margin-right: -70px !important;
  }
  
  .imgColCell11x6-3 {
  margin-left: -95px !important;
  margin-right: -95px !important;
  }
  
  .imgColCell11x11 {
  margin-left: -115px !important;
  margin-right: -115px !important;
  }
  
  .img11x11RowTwo .imgColCell11x11 {
  margin-top: 25px;
  margin-left: -92px !important;
  margin-right: -92px !important;
  } */
  
  
  
  
    /* IMAGE SIZING */
    .img11x8-5 {
      margin-top: 50px;
          width: 400px;
          height: 308px;
        }
      
        .img8-5x11 {
          width: 308px;
          height: 400px;
          margin-top: 3px;
        }
      
        .img11x6-3 {
          width: 400px;
          height: 228px;
          margin-top: 35px;
          margin-bottom: 35px;
        }
      
  .img11x11 {
    width: 400px;
    height: 400px;
    margin-top: 4px;
  }


  .projectStatement {
    margin-left: 15% !important;
    margin-right: 15% !important;
    text-align: center;
    margin-top: 65px !important;
  }

  .projectStatement h2 {
    font-family: 'Poiret One', cursive;
    font-weight: bold;
    font-size: 45px !important;
  }

  .projectStatement p {
    margin-top: 10px !important;
  }
  
  .footerContainer {
    justify-content: center;
    width: 80%;
    font-size: 20px;
    margin-left: 12.25%;
    margin-top: 35px;
  }
  
  .footerRow {
    justify-content: center;
    
  }
  
  .footerContainer a {
      color: rgb(188, 67, 19) !important;
  }