
.headerName {
    font-family:'Birthstone', cursive;
    font-size: 78px; 
}

.JMsignature {
    margin-left: -130px;
}

.headerNamePhoto {
    font-family: 'Poiret One', cursive;
    font-size: 60px;
    margin-left: 25px !important;
}

#headerNamePhotoRow {
    margin-top: -120px !important;
}

#nameCol {
    margin-top: 12px;
    float: left;
    width: 30%;
    margin-left: 20%;
    font-weight: 800;
}

.headerContainer a {
    text-decoration: none !important;
    text-decoration-style: none !important;
    font-family: 'Poiret One', cursive;
    font-size: 40px !important;
    color: black !important;
    justify-content: center;
    align-items: center;
    font-size: bold;
}

.navItems a:hover {
    color: rgb(188, 67, 19) !important;
    transform: scale(1.25) !important;
}

.navItems {
    padding-top: 30px;
    width: 50%;
    margin-left: 47%;
}

#navTopItems{
padding-left: 70px;
}

#navItemGalleries {
    padding-left: 25px;
}

#ContactJacksonNav {
    padding-left: 85px !important;
}